# .gitignore

# Ignore compiled binaries
cmd/taka-cli
taka-cli
*.exe
*.dll
*.dylib

# Ignore logs
*.log
#ignore csv
*.csx
# Ignore Mac system files
.DS_Store
taka-report
taka-upload
nvim_logs.txt
internal.txt
.version
